{% extends "_base.html" %}

{% block content %}
    {% for book in book_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card title" style="display: contents;">
                        <a 
                        href="{{ book.get_absolute_url }}" 
                        class="card-link" 
                        style="color: black; display:contents">{{ book.title }}
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}